.faq {
  padding: 50px 0;
}

.faq__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.faq__list {
  list-style: none;
}

.faq__item {
  background-color: #fff;
  color: var(--background-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 30px 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.faq__item:nth-child(even) {
  background-color: #440f51;
  color: #ffffff;
}

.faq__item:last-child {
  margin-bottom: 0px;
}
.faq__btn {
  transition: outline .3s ease-in;
}


.faq__btn>svg {
  fill: #ffffff;
}

.faq__btn:focus>svg {
  outline: 1px solid var(--elements-color);
  transition: outline .3s ease-in;
} 

#vertical {
  transition: .3s ease-in;

}

.faq__btn>svg>circle {
  stroke: #440f51;
  transition: .3s ease-in;
}

.faq__btn>svg>path {
  fill: #440f51;
  
}

.faq__btn:hover>svg {
  fill: #440f51;
}



.faq__btn:hover>svg>path {
  fill: #ffffff;

}

.faq__btn:active>svg>#vertical {
  opacity: 0;
}

.purple>svg>circle {
  fill:transparent;
  stroke: #ffffff;
}

.purple>svg>path {
  fill: #ffffff;

}

.purple:hover>svg>circle {
  fill: #ffffff;
}

.purple:hover>svg>path {
  fill: #440f51;
}







