.footer {
    padding: 50px 0 10px;
  }
.footer__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
  }

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  width: 440px;
  margin-bottom: 40px;
  font-size: 0;
}

.footer__location-link {
  transition: color .3s ease-in;
}

.footer__location-link:hover {
  color: var(--elements-color);
}

.footer__location-link:focus {
  color: var(--elements-color);
}

.footer__location-link:active {
  color: var(--active-color);
}

.footer__location-link:hover>.footer__location-icon {
  color: var(--elements-color);
}

.footer__location-link:focus>.footer__location-icon {
  color: var(--elements-color);
}

.footer__location-link:active>.footer__location-icon {
  color: var(--active-color);
}

.footer__location-icon {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
  color: var(--elements-color);
  transition: color .3s ease-in;
}


.footer__address-text {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  vertical-align: middle;
  white-space: pre-line;
  margin-bottom: 36px;

}




.footer__tel-icon {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
  margin-bottom: 10px;
  color: var(--elements-color);
  transition: color .3s ease-in;
}



.footer__tel-link {
  display:inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 11px;
  transition: color .3s ease-in;
}

.footer__tel-link:hover {
  color: var(--elements-color);
}

.footer__tel-link:focus {
  color: var(--elements-color);
}

.footer__tel-link:active {
  color: var(--active-color);
}

.footer__tel-link:hover>.footer__tel-icon {
  color: var(--elements-color);
}

.footer__tel-link:focus>.footer__tel-icon {
  color: var(--elements-color);
}

.footer__tel-link:active>.footer__tel-icon {
  color: var(--active-color);
}



.footer__email-link {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  vertical-align: middle;
  transition: color .3s ease-in;

}

.footer__email-link:hover {
  color: var(--elements-color);
}

.footer__email-link:focus {
  color: var(--elements-color);
}

.footer__email-link:active {
  color: var(--active-color);
}

.footer__email-link:hover>.footer__email-icon {
  color: var(--elements-color);
}

.footer__email-link:focus>.footer__email-icon {
  color: var(--elements-color);
}

.footer__email-link:active>.footer__email-icon {
  color: var(--active-color);
}

.footer__email-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
  color: var(--elements-color);
  transition: color .3s ease-in;

}


.footer__social-list {
  display: flex;
  gap: 26px;
  margin-bottom: 175px;
}

.footer__social-link {
  display: block;
  transition: color .3s ease-in, outline .3s ease-in, outline-color .3s ease-in;
}

.footer__social-link:hover {
  color: #eadeed;
}

.footer__social-link:focus {
  color: #eadeed;
  outline: 1px solid var(--elements-color);
}

.footer__social-link:active {
  color: var(--elements-color);
  outline-color: transparent;
}

.footer__designer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; 
}

.footer__designer-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 6px;
}

.footer__designer-email {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  transition: color .3s ease-in;
}

.footer__designer-email:hover {
  color: var(--elements-color);

}

.footer__designer-email:focus {
  color: var(--elements-color);
}

.footer__designer-email:active {
  color: var(--active-color);
}