.reservation {
  padding: 80px 0;
  background-color: #440F51;
  margin-bottom: 50px;
}

.reservation__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 40px;
}

.form__subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 40px;
}

.form__hall-choice{
  display: flex;
  margin-bottom: 60px;
}

.form__hall-label {
  text-align: center;
  min-width: 250px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 8px;
  padding: 7px 15px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 60px;
}

.form__hall-label_last {
  margin-right: 0px;
}

.form__box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 67px;
}

.form__hall-input {
  appearance: none;
}

.form__second-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 40px;
}

.form__third-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 24px;
}

.form__consoles {
  display: flex;
  flex-direction: column;


}

.form__checkbox {
  width: 25px;
  height: 25px;
}

.form__radio-input {
  width: 27px;
  height: 27px;
  margin-bottom: 12px;
  margin-right: 12px;
  
}

.form__radio-input_last {
  margin-bottom: 0px;
}

.form__consoles-label {
  min-width: 241px;
  display: flex;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

.form__board-games {
  display: flex;
  flex-direction: column;
}
.form__fourth-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 24px;

}

.form__board-games-label {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff
}

.form__board-games-input {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.form__board-games-input_last {
  margin-bottom: 0;
}

.fiveth-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 24px;
}

.form__addition {
  display: flex;
  flex-direction: column;
}

.form__addition-label {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

.form__addition-input {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  margin-bottom: 12px;

}
.form__addition-input_last {
  margin-bottom: 0px;
}

.form__sixth-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 38px;
  text-align: center;
}

.form__bottom {
  display: flex;
  justify-content: center;
}


.form__date-time-count {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.form__date-time {
  width: 300px;
  display: flex;
  margin-bottom: 14px;

}

.form__date-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff
}



.form__date-input {
  width: 134px;
  height: 52px;
  
}

.form__time-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff
}

.form__time-input {
  display: block;
  width: 134px;
  height: 52px;
}

.form__count-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff

}

.form__count-input {
  display: block;
  width: 300px;
  height: 52px;
}

.form__personal-data {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.form__name-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}

.form__name-input {
  display: block;
  width: 280px;
  height: 52px;
  margin-bottom: 14px;
}

.form__surname-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}

.form__surname-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}

.form__surname-input {
  display: block;
  width: 280px;
  height: 52px;
}

.form__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.form__tel-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}

.form__tel-input {
  display: block;
  width: 300px;
  height: 52px;
  margin-bottom: 14px;
}


.form__email-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
 
}

.form__email-input {
  display: block;
  width: 300px;
  height: 52px;
}

.form__btn {
  padding: 16px 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #6c0287;
  text-transform: uppercase;
}

.form__btn-wrap {
  width: 1080px;
  display: flex;
  justify-content: flex-end;
}
