:root {
  --main-text-color: #ffffff;
  --elements-color: #cd06ff;
  --background-color: #1b1a1b;
  --gradient: radial-gradient(50.00% 50.00% at 50% 50%,rgba(196, 196, 196, 0),rgba(108, 2, 135, 0.5) 100%);
}

